VITE_SUPABASE_URL=https://xascheaokpfokkfmolfi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhhc2NoZWFva3Bmb2trZm1vbGZpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM5ODIwNzEsImV4cCI6MjA3OTU1ODA3MX0.VbfM3NBxaYOdREhvuXalpjPHHP21aad-nq0jIDcmQu0
VITE_INFURA_SEPOLIA=https://sepolia.infura.io/v3/2537f78db765445b991eb45e375a04d9
VITE_PRIVATE_KEY=REPLACE_WITH_YOUR_PRIVATE_KEY
SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/REPLACE_WITH_INFURA_PROJECT_ID
PRIVATE_KEY=REPLACE_WITH_YOUR_PRIVATE_KEY